@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: "myFirstFont";
  src: url("/fonts/Montserrat-Light.otf");
}
header {
  display: block;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  height: 60px;
  margin-top: -5px;
  line-height: 60px;
  font-family: 'Montserrat Light';
}
header .title {
  float: left;
  position: relative;
  font-size: 26px;
  font-family: "myFirstFont";
}
header .site-nav {
  width: 100%;
  float: left;
  margin-left: 12px;
}
header .site-nav .menu {
  display: block;
  font-family: "myFirstFont";
  position: relative;
  font-family: "myFirstFont";
  padding-left: 0;
  padding-right: 0px;
}
header .site-nav .menu .menu-item {
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
}
header .site-nav .menu .menu-item a {
  font-size: 12px;
  color: #666;
}
header:before,
header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}
@media only screen and (max-width: 520px) {
  .title {
    display: none;
  }
}
